.WeatherInfo {
  font-family: sans-serif;
  color: #9e9e9e;
  border: 1px solid #dee2e6;
  border-radius: 6px;
  padding: 16px;
  margin-top: 10px;
}

.WeatherInfo h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.WeatherInfo ul {
  margin: 0;
  padding: 0;
}

.WeatherInfo li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.WeatherInfo .clearfix {
  display: flex;
}

.WeatherInfo img {
  height: 64px;
  width: 64px;
  margin-right: 10px;
  display: inline-block;
}

.WeatherInfo .temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
}

.WeatherInfo .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: -34px;
}
