.WeatherForecast {
  margin-top: 20px;
  text-align: center;
}

.WeatherForecast .forecast-icon img {
  height: 40px;
  width: 40px;
}

.WeatherForecast .forecast-mintemp {
  opacity: 0.5;
  margin-left: 5px;
}
